/* YOUR CUSTOM STYLES */


body,html
{
	height:100%;
}
body
{
	background-color:#24262d;
}
a, a:hover, a:active, a:focus
{
	text-decoration:none;
}
.navbar
{
	     box-shadow: 0 0px 0px 0 rgba(0,0,0,.16),0 0px 00px 0 rgba(0,0,0,0);
}
.maincontent
{
	height:90%;
	
}
.alertitem
{
	display:none;
}

.login, .spadmin
{
	position: absolute;
  margin: auto;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
}
.login h3
{
	padding:9px;
	color:#ffffff;
}
/* superadmin page */
.green {
    background-color: #24262d !important;
    height:50px;
}


.navbar-nav .nav-item {
    float: left;
    border: 2px solid #41444d;
    padding: 0px 12px;
    cursor:pointer;
}
.navbar-nav .nav-link {
    display: block;
     padding-top: 0rem; 
     padding-bottom: 0rem; 
}
.cardtable
{
	background-color:#41444d !important;
}




.img
{
	height:30px;
	width:30px
}
 
.fa-sort-desc
{
padding:10px;
}
.sidebar-nav li
{
	position:relative;
}
.addtree, .viewtree, .addsensor, .viewsensor, .addttos, .viewttos, .alarm, .addoperator, .viewoperator
{
	text-align:left;
}





.wrapper, .left-side {
    background-color: #2a2d35;
}

.main-sidebar, .left-side {
    position: absolute;
    top: 55px;
    left: 1%;
    height: 94%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;

}
.sidebar {
    padding-bottom: 10px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}
.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226;
}
.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}
.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar-menu>li {
    position: relative;
    margin:10px 0px;
    padding: 0;
}
.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a, .sidebar-menu>li>a {
    color: #fff;
    background: #42444d;
    border-left-color: #3c8dbc;
}
.sidebar-menu>li>a {
    border-left: 3px solid transparent;
}
.sidebar a {
    color: #a7b7c5;
}
.sidebar-menu li>a {
    position: relative;
}
.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px;
    display: block;
    font-family:Montserrat;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 20px;
}

.sidebar-menu li>a>.pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
}

.sidebar-menu .treeview-menu>li>a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
}
.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}
.sidebar-menu li>a>.pull-right-container {
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -7px;
}
.sidebar-menu li.active>a>.fa-angle-left, .sidebar-menu li.active>a>.pull-right-container>.fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #393b44;
}
.treeview-menu>li.active>a, .treeview-menu>li>a:hover {
    color: #fff;
}



.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #2d3038;
    z-index: 800;
    
}
.sidebarcontent .container-fluid, .sidebarcontent .row, .sidebarcontent .col-md-12, .sidebarcontent .col-md-7
{
	height:100%;
}
.sidebarcontent .card, .sidebarcontent .card-block
{
	height:94%;
}
.content-wrapper, .right-side, .main-footer {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    z-index: 820;
}
.selectform
{
	top:-1.8rem !important;
	
}

.attachsensor .form-header
{
	margin-bottom:3rem;
}
.selectid
{
	margin-bottom:3rem;
}
.action
{
	width:55%;
	float:left;
}
 #map, #map1 {
        min-height: 550px;
        width: 100%;
       }
.treestatus
{
	margin-top:4rem;
}
.alert-warning
{
	    position: absolute;
    z-index: 1;
    width: 90%;
    top: 20px;
    right: 0;
    cursor:pointer;
}
.alert-warning {
    background-color: #ff0b0b;
    border-color: #c00;
    color: #ffffff;
}
.alert-warning .close
{
	opacity:1;
}

.modal-header .close {
    margin-top: 5px;
}


.error
{
	color:red !important;
	position:relative !important;
	font-size: 13px !important;
}
.form-control
{
	margin-bottom:0px;
}
.md-form label.error{
-webkit-transform:translateY(0%);
-moz-transform:translateY(0%);
-ms-transform:translateY(0%);
-o-transform:translateY(0%);
transform:translateY(0%)
}
.star
{
	color:red;
}

/*.gm-style-iw {
  background-color: rgb(237, 28, 36);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    color: rgb(255, 255, 255) !important;
    font-family: gothambook;
    text-align: center;
    top: 15px !important;
    width: 150px !important;
}*/
.cardmap, .cardblockmap
{
	background-color:#2d3038;
	box-shadow: 0 0px 0px 0 rgba(0,0,0,.16),0 0px 00px 0 rgba(0,0,0,0);
	
}
.card
{
	background-color:#323232;
}
.card .form-header {
    color: #fff;
    text-align: left;
     margin-top: 0px; 
   margin-bottom: 1.4rem; 
    padding: 0rem; 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
        font-family: Montserrat;
}
label
{
	    font-family: Montserrat;
	    font-size:12px;
}
.form-group
{
	color:#ffffff;
}
.form-control, .form-control:active
{
    border: 1px solid #3c3c3c;
    background-color:#3c3c3c !important;
    color:#ffffff;
    border-radius:0px;
}
.form-control:focus {
    color: #ffffff;
    background-color: #3c3c3c;
    border-color: #3c3c3c;
    outline: 0;
}
.input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #ffffff;
    text-align: center;
    background-color: #3c3c3c;
    border: 1px solid #3c3c3c;
    border-radius: .25rem;
}	
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #3c3c3c inset !important;
    -webkit-text-fill-color: #b3b3b3;
}
.btn-outline-warning {
    color: #ffffff;
    background-image: none;
    background-color: transparent;
    border: 2px solid #f6a820;
    border-radius:0px;
    
}

/*
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    float:left;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-top:0px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
		height:100%;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        padding-top:0px;
		height:100%;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.logo
{
	height:50px;
	padding:18px
}
.logo a
{
	
	color:#ffffff;
	font-size:20px;
}
.fa-bars
{
	    border: 1px solid #5a5a5a;
    padding: 6px 14px;
}
.fa-pencil, .fa-times
{
	color:#ffffff;
}
td, th
{
	color:#ffffff;
}
.table thead th, .table td
{
	font-family:Montserrat;
	font-size: 13px;
    font-weight: 400;
}
img.sideimg
{
	height:30px;
	width:30px;
	margin-right:1%;
}

/* Optional: Makes the sample page fill the window. 
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/
/* latin 
@font-face {
  font-family: 'Montserrata';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/